<header class="row justify-content-md-center 1rem">
	<!-- Escudo -->
	<div class="col-2">
		<img class="rounded float-right" src="https://s2.glbimg.com/tjDX5RVPVwW_3WMEt_N4CL8tAYg=/https://s3.glbimg.com/v1/AUTH_58d78b787ec34892b5aaa0c7a146155f/cartola_svg_55/flamula/07/02/24/002520720170513170224"
		th:if="${liga != null}" th:src="${liga.url_flamula_png}" height="50" width="50">
	</div>

	<!-- Menu -->
	<div class="col-8">
		<nav class="navbar navbar-expand-lg nav-dark">
			<div class="collapse navbar-collapse" id="navbarNavDropDown">
				<ul class="nav nav-tabs">

					<li class="nav-item"><a class="nav-link" href="#"
						th:href="@{/}">Home</a></li>
					 
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
						data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
						aria-expanded="false">Campeonatos</a>
						<div class="dropdown-menu"
							aria-labelledy="navbarDropdownnMenuLink">
					<!-- 	<a class="dropdown-item" href="#">Parcial da rodada</a>
							<a class="dropdown-item" href="#">Libertadores</a>  -->
							<a class="dropdown-item" href="#" th:href="@{/hallfama}">Hall da Fama</a>
							<a class="dropdown-item" href="#" th:href="@{/tabela}">Tabela</a>
							
						</div></li>
					
					
					<li class="nav-item"><a class="nav-link" href="#"
						th:href="@{/regulamento}">Regulamento</a></li>
				</ul>
			</div>
		</nav>
		<div class="divider" style="color: white;">
			<span th:if="${liga != null}" th:text="${liga.nome}">A liga</span> <span th:if="${liga != null}" th:text="${liga.descricao}"></span>
		</div>
	</div>
</header>

	<div class="divider"></div>

<!-- Script para o menu -->
<script src="../static/jquery/jquery.min.js"
	th:src="@{jquery/jquery.min.js}"></script>
<script src="../static/js/bootstrap.min.js"
	th:src="@{js/bootstrap.min.js}"></script>