<!DOCTYPE html>
<html xmlns="htttp://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Masters BR</title>
		<link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
		<link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}"/>	
	</head>
<body>
	<div th:replace="fragments/background"></div>

	<div class="container">
		<div th:replace="fragments/navbar"></div>

		<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Os Mitos da Liga
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
      	<div class="row">
	      	<div class="col">
	        	<img class="float-left" src="..." th:if="${mito1 != null}" th:src="${mito1.time.url_escudo_png}" th:alt="${mito1.time.nome}">
	      		<p><span th:text="${mito1.time.nome}"></span> </p>
	      		<br>Mitou na rodada <span th:text="${mito1.rodada}"></span></br>
	      		<br>Na ocasião fez <span th:text="${#numbers.formatDecimal(mito1.pontos, 0, 'COMMA', 2, 'POINT')}"></span> pontos </br>
	      		<p>A mitagem do momento! pontuação a ser alcançada</p>
	      	</div>
	      	<div class="col">
	        	<img class="float-right" src="..." th:if="${mito2 != null}" th:src="${mito2.time.url_escudo_png}" th:alt="${mito2.time.nome}">
	      		<p><span th:text="${mito2.time.nome}"></span> </p>
	      		<br>Mitou na rodada <span th:text="${mito2.rodada}"></span></br>
	      		<br>Na ocasião fez <span th:text="${#numbers.formatDecimal(mito2.pontos, 0, 'COMMA', 2, 'POINT')}"></span> pontos</br/>
	      		<p>Não foi tão bom quanto o MITO, mas chegou perto e esta com a segunda melhor MITAGEM</p>
	      	</div>
      	</div>
      	<p style="text-align: center;">Você é capaz de MITAR e bater essa pontuação?<br/>
	    Escale os melhores e desbanque a pontuação dos atuais mitos da Liga</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Os mais ricos da Liga
        </button>
      </h5>
    </div>
    
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
      	<div class="row">
	      	<div class="col">
	        	<img class="float-left" src="..." th:if="${maisRico1 != null}" th:src="${maisRico1.url_escudo_png}" th:alt="${maisRico1.nome}">
	      		<p><span th:text="${maisRico1.nome}"></span> </p>
	      		<br>Quem mais conseguiu rendimentos com suas escalações</br>
	      		<br>Acumulando o patrimonio de C$<span th:text="${#numbers.formatDecimal(maisRico1.patrimonio, 0, 'COMMA', 2, 'POINT')}"> </span> cartoletas </br>
	      	</div>
	      	<div class="col">
	        	<img class="float-left" src="..." th:if="${maisRico2 != null}" th:src="${maisRico2.url_escudo_png}" th:alt="${maisRico2.nome}">
	      		<p><span th:text="${maisRico2.nome}"></span> </p>
	      		<br>Aquele que está na cola do Mais rico</br>
	      		<br>Acumulando o patrimonio de C$<span th:text="${#numbers.formatDecimal(maisRico2.patrimonio, 0, 'COMMA', 2, 'POINT')}"> </span> cartoletas </br>
	      	</div>
      	</div>
      	<br/>
      	<p style="text-align: center;">Você consegue brigar com esses mestres da economia?<br/>
	    Por que as vezes os mais baratos, não são os mais rentaveis!</p>
      </div>
    </div>
  </div>
  <!-- 
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
   -->
</div>
		
		
		

		<div th:replace="fragments/footer ::footer"></div>
	</div>
</body>
</html>